<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
  <%- include(`./partials/_header`) %>
  <form class="card text-center card-footer text-muted" action="/register" method="POST" style="width: 300px;">
    <h3>Register<br>Email and Password</h3>
    <input type="email" name="email" placeholder="email@urls.com" style="margin: 10px;">
    <input type="password" name="password" placeholder="password" style="margin: 10px;">
    <button type="submit" style="margin: 10px;">Register</button>
  </form>
</body>
</html>